<mat-card>
  <mat-card-title>Options</mat-card-title>
  <mat-form-field class="inputFormat" *ngIf="{ inputFormat: inputFormat$ | async } as inputFormat">
    <mat-label>Input Format</mat-label>
    <input
      matInput
      class="inputInput"
      type="text"
      placeholder="Choose an format"
      aria-label="Input Format"
      [formControl]="inputControl"
      [matAutocomplete]="inputAutocomplete"
      [value]="inputFormat"
      required>
    <mat-error *ngIf="inputControl.invalid">Must choose a valid input format</mat-error>
    <mat-autocomplete class="inputAutocomplete" #inputAutocomplete autoActiveFirstOption panelWidth="auto">
      <mat-option *ngFor="let format of inputList$ | async" [value]="format">
        {{format}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <div class="spacer"></div>
  <mat-form-field class="outputFormat" *ngIf="{ outputFormat: outputFormat$ | async } as outputFormat">
    <mat-label>Output Format</mat-label>
    <input
      matInput
      class="outputInput"
      type="text"
      placeholder="Choose an format"
      aria-label="Output Format"
      [formControl]="outputControl"
      [matAutocomplete]="outputAutocomplete"
      [value]="outputFormat"
      required>
    <mat-error *ngIf="outputControl.invalid">Must choose a valid output format</mat-error>
    <mat-autocomplete class="outputAutocomplete" #outputAutocomplete autoActiveFirstOption panelWidth="auto">
      <mat-option *ngFor="let format of outputList$ | async" [value]="format">
        {{format}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <div class="spacer"></div>
  <div>Additional Options</div>
  <textarea matInput class="additionalOptions" [(ngModel)]="additionalOptions"></textarea>
  <div class="spacer"></div>
  <div class="submit">
    <button type="submit" mat-raised-button (click)="submit()">Submit</button>
  </div>
</mat-card>
