mat-card-content {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
}

.inputComponent {
  flex: 1;
  margin-right: 5px;
}

.optionsComponent {
  width: 300px;
}

.outputComponent {
  flex: 1;
  margin-left: 5px;
}
